.btn-primary {
    display: flex;
    align-items: center;
    white-space: nowrap;
    gap: 0.8rem;
    background: var(--tertiary-color);
    color: var(--second-text-color);
    font-weight: var(--fw-sb);
    font-size: var(--fs-sm);
    padding-block: 0.6rem;
    padding-inline: 1.5rem;
    border-radius: 1.5rem;
    cursor: pointer;
    border: solid transparent 0.15rem;
}

.btn-dark {
    display: flex;
    align-items: center;
    white-space: nowrap;
    width: fit-content;
    gap: 0.8rem;
    background: var(--primary-color);
    color: var(--text-color);
    font-weight: var(--fw-sb);
    font-size: var(--fs-sm);
    padding-block: 0.6rem;
    padding-inline: 1.5rem;
    border-radius: 1.5rem;
    cursor: pointer;
    border: solid transparent 0.15rem;
}

.btn-dark:hover {
    background: transparent;
    color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-dark:hover img{
    filter: brightness(0) saturate(100%) invert(21%) sepia(83%) saturate(1976%) hue-rotate(63deg) brightness(93%) contrast(97%);
}

.btn-dark img {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7473%) hue-rotate(316deg) brightness(104%) contrast(108%);
}

.btn-secondary {
    width: 100%;
    background: transparent;
    color: var(--primary-color);
    font-weight: var(--fw-bold);
    font-size: var(--fs-sm);
    padding-block: 0.825rem;
    padding-inline: 1.5rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: solid var(--primary-color) 0.15rem;
}

.btn-secondary:hover {
    background: var(--primary-color);
    color: var(--light-text-color);
    border-color: transparent;
}

.btn-transparent {
    display: flex;
    align-items: center;
    white-space: nowrap;
    width: fit-content;
    gap: 0.8rem;
    background: transparent;
    color: var(--primary-color);
    font-weight: var(--fw-sb);
    font-size: var(--fs-sm);
    padding-block: 0.6rem;
    border-radius: 1.5rem;
    cursor: pointer;
    border: solid transparent 0.15rem;
}

.btn-transparent img{
    filter: brightness(0) saturate(100%) invert(21%) sepia(83%) saturate(1976%) hue-rotate(63deg) brightness(93%) contrast(97%);
    height: 10px;
    width: 10px;
}

.btn-transparent:hover {
    text-decoration: underline;
}

.btn-outline {
    display: flex;
    align-items: center;
    white-space: nowrap;
    width: fit-content;
    gap: 0.8rem;
    background: transparent;
    color: var(--primary-color);
    font-weight: var(--fw-sb);
    font-size: var(--fs-sm);
    padding-block: 0.6rem;
    padding-inline: 1.5rem;
    border-radius: 1.5rem;
    cursor: pointer;
    border: solid var(--primary-color) 0.15rem;
}

.btn-outline:hover {
    color: var(--text-color);
    background-color: var(--primary-color);
}